{% load i18n addclass_tags %}
<div class="d-flex align-items-center justify-content-between actions">
    {% block actions %}
    <div class="input-group">
        <div class="input-group-text">
            {% block actions-counter %}
            {% if actions_selection_counter %}
            <span class="action-counter" id="selected-count" data-actions-icnt="{{ cl.result_list|length }}">{{ selection_note }}</span>
            {% endif %}
        {% endblock %}
        </div>
        {% block actions-form %}
        {% for field in action_form %}{{ field | addclass:"form-select" }}{% endfor %}
        {% endblock %}
        {% block actions-submit %}
        <button type="submit" class="input-group-text" title="{% translate " Run the selected action" %}" name="index"
            value="{{ action_index|default:0 }}">{% translate "Go" %}</button>
        {% endblock %}
    </div>
    {% endblock %}
</div>